# Missing data
We typically see missing values as NaN (Not A Number).

In [1]:
import numpy as np
import pandas as pd

## Dataframe with missing values '?' and 'NaN'

In [2]:
df = pd.DataFrame([[6,'?',6],['?',4,np.nan],[2,3,5]],
    index = ['blue','green','red'],
    columns = ['ball','mug','pen'])

In [3]:
df

      ball mug  pen
blue     6   ?  6.0
green    ?   4  NaN
red      2   3  5.0

## Replace '?' with 'NaN'

In [4]:
df = df.replace('?',np.nan)

In [5]:
df

       ball  mug  pen
blue    6.0  NaN  6.0
green   NaN  4.0  NaN
red     2.0  3.0  5.0

## Drop NaNs

In [6]:
df.dropna()

     ball  mug  pen
red   2.0  3.0  5.0

## Replace 'NaN' with '0'

In [7]:
df.fillna(0)

       ball  mug  pen
blue    6.0  0.0  6.0
green   0.0  4.0  0.0
red     2.0  3.0  5.0

## Replace 'NaN' with the median

In [8]:
df.fillna(df.median())

       ball  mug  pen
blue    6.0  3.5  6.0
green   4.0  4.0  5.5
red     2.0  3.0  5.0